<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Dungeons_and_Dragons_5e_Dice_Roller.Dungeons_and_Dragons_5e_Dice_Roller" android:versionName="1.2" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Dungeons_and_Dragons_5e_Dice_Roller" android:icon="@drawable/d20_20"></application>
</manifest>